<!doctype html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>    

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
        /*
        * Footer
        */
        .blog-footer {
            padding: 2.5rem 0;
            color: #999;
            text-align: center;
            background-color: #f9f9f9;
            border-top: .05rem solid #e5e5e5;
        }
        .blog-footer p:last-child {
            margin-bottom: 0;
        }
    </style>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand"><strong><font color="white">Navbar</font></strong></a>
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link btn btn-info" href="{{url_for('posts')}}">Story</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-info" href="{{url_for('login')}}">Login</a>
              </li>
            </ul>
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
        <footer class="blog-footer">
            <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            <p>
              <a href="#">Back to top</a>
            </p>
        </footer>
      {% endblock %}
    </div>
  </body>
</html>